@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
.header {
  text-align: center;
  padding: 1rem;
  position: relative;
}
.header__logo {
  margin: 0;
  font-family: "Shrikhand", cursive;
}

.footer {
  color: #fff;
  background-color: #353535;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.footer__logo {
  margin-top: 0rem;
  padding-top: 0.5rem;
  font-weight: 500;
  font-size: 1.5rem;
  font-family: "Shrikhand", cursive;
}
.footer__lists {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.footer__lists a {
  color: #fff;
  text-decoration: none;
}
.footer__lists li {
  list-style-type: none;
  margin-bottom: 0.3rem;
}
.footer__icon {
  width: 1rem;
  margin-right: 0.5rem;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.localisation {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 1rem;
  font-size: 1.2rem;
  box-shadow: inset 0 9px 8px -10px grey;
}
.localisation__icon {
  margin-right: 1rem;
}
.localisation__text {
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 2rem 2rem 4rem 2rem;
  background-color: #f6f6f6;
}
.hero__title {
  margin: 0rem 1rem;
}
.hero__text {
  font-weight: 300;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}
.hero__button {
  padding: 1rem 1rem;
  margin-top: 1rem;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 2rem;
  box-shadow: 0rem 0.2rem 10px 0px #bfbfbf;
}

.howTo {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.howTo__title {
  margin-top: 0rem;
}
.howTo__lists {
  list-style-type: none;
  counter-reset: compteListe;
  padding-left: 0;
  position: relative;
}
.howTo__list::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background-color: #9356DC;
  color: #fff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0rem;
}
.howTo__list {
  display: flex;
  background-color: #f6f6f6;
  border-radius: 1rem;
  padding: 1.5rem 1rem;
  margin-bottom: 1.5rem;
  margin-left: 0.7rem;
  box-shadow: 0rem 0.2rem 10px 0px #bfbfbf;
}
.howTo__icon {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.howTo__text {
  font-weight: 500;
}

.restaurant {
  background-color: #f6f6f6;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.card {
  border-radius: 1rem;
  box-shadow: 0rem 0.2rem 10px 0px #bfbfbf;
  margin-bottom: 1.5rem;
  position: relative;
  background-color: #fff;
}
.card__img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0rem 0rem;
}
.card__announce {
  position: absolute;
  color: green;
  background-color: #99E2D0;
  right: 1rem;
  top: 1rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
}
.card__bottom {
  display: flex;
  align-items: center;
  position: relative;
}
.card__bottom__text {
  margin-left: 1rem;
  margin-bottom: 1rem;
  color: black;
}
.card__bottom h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
  font-weight: 600;
}
.card__bottom__button {
  position: absolute;
  right: 1rem;
}
.card a {
  text-decoration: none;
}

.likeButton__checkbox {
  display: none;
}
.likeButton__checkbox:checked + .likeButton__icon {
  opacity: 1;
  transform: scale(0);
  color: #9356DC;
  -webkit-text-stroke: 0;
  animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
}

i.likeButton__icon {
  opacity: 1;
  font-size: 1.5rem;
  color: #fff;
  transition: opacity 0.3s 0.1s ease;
  -webkit-text-stroke: 2px rgba(0, 0, 0, 0.6);
}

@keyframes icon {
  from {
    opacity: 0;
    transform: scale(0.3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes submenuAnimation {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes validationBar {
  from {
    width: 0%;
  }
  to {
    width: 20%;
  }
}
@keyframes validationBar-unchecked {
  from {
    width: 20%;
  }
  to {
    width: 0%;
  }
}
.header a {
  text-decoration: none;
  color: #000;
}
.header__icon {
  font-size: 1.5rem;
  position: absolute;
  left: 1.5rem;
  top: 1.8rem;
}
.header__img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.menu {
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 1.5rem 1.5rem 0 0;
  margin-top: -4rem;
  position: relative;
}
.menu__button {
  padding: 1rem 3rem;
  margin-top: 1rem;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 2rem;
  box-shadow: 0rem 0.2rem 10px 0px #bfbfbf;
}

.title {
  position: relative;
  padding: 1rem 1rem 0 1rem;
}
.title__text {
  font-weight: 500;
  font-family: "Shrikhand", cursive;
  font-size: 1.8rem;
  margin: 0;
}
.title__likeButton {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
}
.title__likeButton i {
  color: #f6f6f6;
}

.submenu {
  padding: 1rem;
}
.submenu__title {
  font-weight: 400;
  padding-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 1rem;
  position: relative;
}
.submenu__title::after {
  content: "";
  width: 3rem;
  height: 0.2rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}
.submenu__container {
  cursor: pointer;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0rem 0.2rem 10px 0px #bfbfbf;
  margin-bottom: 1rem;
  margin-top: 1rem;
  animation: submenuAnimation 0.6s, fadeIn 2s;
  overflow: hidden;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.content__wrapper {
  display: flex;
  width: 100%;
  padding: 1rem;
}
.content__wrapper__text {
  flex: auto;
}
.content__wrapper__price {
  display: flex;
  align-items: flex-end;
}
.content__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #99E2D0;
  font-size: 1.5rem;
  width: 0%;
  transition: transform 0.5s;
}

.checkbox__animation {
  width: 100%;
  display: none;
}

.checkbox__animation:not(:checked) ~ .content__wrapper {
  width: 100%;
  transition: width 0.5s;
}
.checkbox__animation:not(:checked) ~ .content__logo {
  width: 0%;
  background-color: #99E2D0;
  color: #fff;
  font-size: 1.5rem;
  transform-origin: right;
  transform: scale(0, 1);
  animation: validationBar-unchecked 0.5s;
}
.checkbox__animation:not(:checked) ~ .content__logo i {
  transform: rotate(1turn);
  transition: transform 0.5s ease-in-out;
}

.checkbox__animation:checked ~ .content__wrapper {
  width: 80%;
  transition: width 0.5s;
}
.checkbox__animation:checked ~ .content__logo {
  animation: validationBar 0.5s;
  width: 20%;
  background-color: #99E2D0;
  color: #fff;
  font-size: 1.5rem;
  transform-origin: right;
}
.checkbox__animation:checked ~ .content__logo i {
  transform: rotate(-1turn);
  transition: transform 0.5s ease-in-out;
}

.container__button {
  display: flex;
  justify-content: center;
  padding-bottom: 4rem;
}

.time-0 {
  animation-delay: 0s;
}

.time-1 {
  animation-delay: 0.1s;
}

.time-2 {
  animation-delay: 0.2s;
}

.time-3 {
  animation-delay: 0.3s;
}

/*# sourceMappingURL=style.css.map */
