@keyframes submenuAnimation {
    from {
        transform: scale(0);
        
    }
    to {
        transform: scale(1);
       
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes validationBar {
    from {
        width: 0%;
    }
    to {
        width: 20%;
    }
}

@keyframes validationBar-unchecked {
    from {
        width: 20%;
    }
    to {
        width: 0%;
    }
}





