@import '../abstracts/variables';
@import '../abstracts/keyframes';


.hero__button {
  text-decoration: none;
      padding: 1rem 2rem;
      border-radius: 2rem;
      font-size: 1.1rem;
      font-weight: 500;
      color: #fff;
      background-image: linear-gradient($secondary-color,$primary-color);
      box-shadow: $shadow;
      &:hover {
        filter: brightness(1.1);
        box-shadow: $shadow-1;
    }
}

.likeButton__checkbox {
    display: none;
    &:checked + .likeButton__icon {
        opacity: 1;
        transform: scale(0);
        -webkit-text-stroke: 0;
        animation: icon .3s cubic-bezier(1.000, 0.008, 0.565, 1.650) .1s 1 forwards; 
        background: -webkit-linear-gradient($primary-color, $secondary-color);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
  }
.likeButton__icon {
    opacity: 1;
    font-size: 1.5rem;
    color: #fff;
    transition: opacity .3s .1s ease;
    -webkit-text-stroke: 2px rgba(0,0,0,0.6);
  }